.Toolbar {
  height: 5.6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 90;

  &__Nav {
    height: 100%;
    
    @media (max-width: 49.9em) {
      display: none;
    }
  }
}