.NavigationItem {
  display: flex;
  height: 100%;
  align-items: center;
  
  &__Link {
    color: white;
    text-decoration: none;
    padding: 1.6rem 1rem;
    border-bottom: .4rem solid transparent;
    display: block;

    &:hover,
    &:active,
    &_active {
      background-color: #8f5c2c;
      border-bottom: .4rem solid #40a4c8;
      color: white;
    }
  }
}