.SideDrawer {
  position: fixed;
  width: 28rem;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 3.2rem 1.6rem;
  transition: transform 0.3s ease-out;

  @media (min-width: 50em) {
    display: none;
  }

  &_open {
    transform: translateX(0);
  }

  &_close {
    transform: translateX(-100%);
  }
  
  &__Logo {
    height: 11%;
    
    &_mb {      
      margin-bottom: 3.2rem;
      
      @media (min-width: 50em) {
        margin-bottom: 0;
      }
    }
  }
}

