.Input {
  width: 100%;
  padding: 10px;

  &__Label {
    font-weight: bold;
    display: block;
    margin-bottom: .8rem;
  }

  &__Element {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: .6rem 1rem;
    width: 100%;
    display: block;

    &:focus {
      outline: none;
      background-color: #ccc;
    }

    &_invalid {
      border: 1px solid red;
      background-color: #fda49a;
    }
  }
}